<%= link_to "Edit this team", edit_dashboard_team_path %>
<%= link_to "Invite a team member to Ouch", new_user_invitation_path %>

<h1><%= @team.name %></h1>
<h1><%= @team.description %></h1>

<h4>Team members: </h4>

<% @team.users.each do |user| %>
	<%= user.full_name %>
<% end %>