<%= simple_form_for [:dashboard, @accident] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
		<%= f.date_select :occurrence_date, as: :string, label: 'Date of occurence', as: :date, input_html: {type: :date} %>
		<%= f.input :description %>
		<%= f.input :sport %>
	  <%= f.fields_for :injury do |i| %>
	    <%= i.input :body_part %>
			<%= i.input :problem %>
			<%= i.input :estimated_recovery_time, label: 'Estimated number of days of recovery' %>
		<% end %>
			
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>