<%= simple_form_for [:dashboard, @accident] do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :occurrence_date, as: :string, label: 'Date of occurence', as: :date, html5: true, input_html: {type: :date} %>
    <%= f.input :description %>
    <%= f.input :sport %>
    <%= f.fields_for :injury do |i| %>
      <%= i.input :estimated_recovery_time, label: 'Estimated number of days of recovery' %>
      <%= i.input :body_part, collection: @accident.injury.body_part_enum %>
      <%= i.input :problem, collection: @accident.injury.problem_enum %>
    <% end %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
